<% provide(:title, 'Contact') %>

<h1>Contact Us</h1>
<p>
	Drop me an <a href="mailto:john@critmetrics.com"> email</a> any time.

	Or feel free to say hello on <a href="http://twitter.com/jlarkin353"> twitter</a>.
</p>
